@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
      @*   <div class="top-row px-4">
            <a href= "#readme" target="_blank">Documentation of Project</a>
        </div> *@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
