@page "/readme"
<h1>Welcome to My Blazor WebAssembly App!</h1>
<div class="readme">
    <h2> # Order Management System </h2>

    <p> This project is an Order Management System developed using WebAssembly Blazor.</p>
    <br />
    <h3> ## Project Structure</h3>
    <hr />
    <br />


    <h3>### Server</h3>
    <h4>  The server-side part of the application hosts the backend logic. It includes: </h4>
    <ol>
        <li>*Dependency Injection & Interfaces:* Utilized for managing services and contracts.</li>
        <li>*Repository Pattern:* Implemented for data access abstraction.</li>
        <li>*Separated Business Logic Layer (BLL) and Data Access Layer (DAL):* Segregating responsibilities for maintainability and clarity.</li>
        <li>*Result Class:* Used for generating success and error responses, enabling robust error handling.</li>
        <li>*Mappers:* Utilized for mapping between different layers of the application, enhancing data transformation and abstraction.</li>
        <li>*Migrations:* Contains database migrations for maintaining data schema versions.</li>
    </ol>

    <h3> ### Client</h3>
    <h4>The client-side encompasses the frontend aspect of the application. It involves:</h4>
     <ol>
        <li>*Model and ModelsDTo:* Utilized for defining data structures.</li>
        <li>*Dependency Injection:* Facilitating loosely coupled components.</li>
        <li>*Shared Folder:* Contains common components or utilities used both on the client and server.</li>
    </ol>
    <h3>  ## Project Structure Overview </h3>
    <ol>
        <li>*Server:* Handles backend logic, dependency injection, repository pattern, mappers, and database migrations.</li>
        <li>*Client:* Manages the frontend, models, dependency injection, and shared components.</li>
        <li> *Shared:* Contains elements common to both the client and server.</li>
    </ol>
    <footer>
        This separation enhances maintainability, scalability, and readability of the codebase by isolating concerns and promoting modularity.
    </footer>

</div>